.DS_Store

# Build (unpackaged) directory
dist/
# Build (packaged) directory
web-ext-artifacts/

# NodeJS
node_modules/

# Test coverage reports
.nyc_output
coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
