.DS_Store

# Build (unpackaged) directory
dist/
# Build (packaged) directory
web-ext-artifacts/
# Ignored libs, as they are installed via npm during build
res/lib/browser-polyfill.min.js

# NodeJS
node_modules/

# Test/coverage reports
/blob-report/
/docs/test-results/
# Testing cache directories
.nyc_output
/playwright/.cache/
