body { padding: 10px; width:35em; }
fieldset { border: 1px solid #ccc; }
textarea { resize: vertical; }
#divBtnGroup { margin-top: 1em; }
#confirm { visibility: hidden; padding-top: 10px; }

.divTable{display: table;}
.divTableBody{display: table-row-group;}
.divTableRow{display: table-row;}
.divTableCell{display: table-cell;}

.desc {
	white-space: nowrap;
}

#fragment-1 > fieldset{
	margin-top:1em;
}

.inputMillis{
	width: 5em;
}

.linkDemoContainer{
	width:100%;
	text-align:right;
}

.leftIndent{
	margin-left:1em;
}

.enabled{color:black;}
.disabled{color:lightgrey;}


.authTick{
	float:right;
}
.authTickHidden{
	display:none;
}
#btnOauthGoogl{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_normal_web.png');
	background-repeat:no-repeat;
	background-color:Transparent;
	width:191px;
	height:46px;
	padding:0;
	border:0 none transparent;
	box-shadow: none;
	cursor:pointer;
}
#btnOauthGoogl:focus{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_focus_web.png');
}
#btnOauthGoogl:active{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_pressed_web.png');
}
#btnOauthGoogl:disabled{
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_disabled_web.png');
	cursor:auto;
}