@keyframes cl-loading-animation {
  100% {
    animation-timing-function: cubic-bezier(0,.4,1,.6);
    transform: rotate(360deg);
  }
}

#cl-container, .cl-container {
  all: initial;
  opacity: 0;
  display: none;
  transition: opacity 250ms 100ms;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  max-width: 30em;
  padding: 4px 5px;
}

.cl-url {
  all: initial;
  float: none;
  margin: 0 2px 0 0;
  word-wrap: break-word;
}

.cl-icon {
  background: grey;
  display: none;
  float: left;
  margin-top: 2px;
  margin-right: 3px;
  width: 14px;
  height: 14px;
  mask-size: contain;
  mask-repeat: no-repeat;
}

.cl-icon-padlock-locked {
  mask-image: url('chrome-extension://__MSG_@@extension_id__/images/lock.svg');
}

.cl-icon-email {
  mask-image: url('chrome-extension://__MSG_@@extension_id__/images/mail.svg');
}

.cl-icon-js {
  mask-image: url('chrome-extension://__MSG_@@extension_id__/images/javascript.svg');

  /* Override margins and sizes as the JS icon contains internal padding and otherwise looks smaller */
  mask-size: 32px 32px;
  margin: -7px;
  height: 24px;
  width: 24px;
}

.cl-icon-hourglass {
  mask-image: url('chrome-extension://__MSG_@@extension_id__/images/hourglass.svg');
}

.cl-icon-link-not-expandable {
  mask-image: url('chrome-extension://__MSG_@@extension_id__/images/visibility_off.svg');
}

.cl-loading {
  animation: cl-loading-animation 1.5s infinite;
}

/** Mozilla Firefox */
@-moz-document url-prefix() {
  .cl-icon-padlock-locked {
    mask-image: url('moz-extension://__MSG_@@extension_id__/images/lock.svg');
  }

  .cl-icon-padlock-unlocked {
    mask-image: url('moz-extension://__MSG_@@extension_id__/images/lock_open_right.svg');
  }

  .cl-icon-email {
    mask-image: url('moz-extension://__MSG_@@extension_id__/images/mail.svg');
  }

  .cl-icon-js {
    mask-image: url('moz-extension://__MSG_@@extension_id__/images/javascript.svg');
  }

  .cl-icon-hourglass {
    mask-image: url('moz-extension://__MSG_@@extension_id__/images/hourglass.svg');
  }

  .cl-icon-link-not-expandable {
    mask-image: url('moz-extension://__MSG_@@extension_id__/images/visibility_off.svg');
  }
}
