body {
  padding: 10px;
  width: 50em;
}
fieldset { border: 1px solid #ccc; }
textarea { resize: vertical; }
#div-btn-group { margin-top: 1em; }
#restore-further-info { display: none; }
#del-all-further-info { display: none; }

#confirm {
  visibility: hidden;
  padding-top: 10px;
}

.div-table { display: table; }
.div-table-body { display: table-row-group; }
.div-table-row { display: table-row; }
.div-table-cell { display: table-cell; }

.desc { white-space: nowrap; }
.inline-block { display: inline-block; }
.right-align { text-align: right; }

#fragment-1 > fieldset {
  margin-top: 1em;
}

.input-milliseconds { width: 5em; }

.link-demo-container {
  width: 100%;
  text-align: right;
}

.enabled { color: black; }
.disabled { color: lightgrey; }

/* Style tab */

.col-two {
  display: inline-block;
  vertical-align: top;
  margin-left: 3em;
}

#style-preview {
  border: 2px inset #ccc;
  margin-top: 1em;
  padding: 0 1em 1em;
}

#style-preview .cl-container {
  display: inline-block;
  position: relative;
  margin-top: 1em;
  width: auto;
  border: 1px solid #5f7f99;
  border-radius: 3px;
}

#style-preview .cl-icon {
  display: inline-block;
}

#style-preview .cl-url {
  font-family: sans-serif;
  font-size: small;
}

#style-preview .js-icon-no-text {
  margin-right: -6px;
}

#cl-icon-padlock-locked {
  content: url('chrome-extension://__MSG_@@extension_id__/images/green-padlock.png');
}

#cl-icon-email {
  content: url('chrome-extension://__MSG_@@extension_id__/images/email-icon.png');
}

#cl-icon-js {
  content: url('chrome-extension://__MSG_@@extension_id__/images/JS-icon.png');
}

#theme-select { margin-left: 5px; }

/* Page Activation */
#form-activation-type > label > input {
  margin-bottom: 3px;
}

#form-whitelist, #form-blacklist {
  margin-top: 1em;
}

#txt-domains-whitelist, #list-domains-whitelist, #txt-domains-blacklist, #list-domains-blacklist {
  width: 400px;
}

#list-domains-whitelist, #list-domains-blacklist {
  background: white;
}

#btn-domains-whitelist-add, #btn-domains-whitelist-remove, #btn-domains-blacklist-add, #btn-domains-blacklist-remove {
  width: 10.5em;
  text-align: left;
}

#btn-domains-whitelist-add, #txt-domains-whitelist, #btn-clear-err-msg-whitelist, #btn-domains-blacklist-add, #txt-domains-blacklist, #btn-clear-err-msg-blacklist {
  margin-bottom: 5px;
}

#btn-domains-whitelist-add, #btn-domains-blacklist-add {
  margin-left: 1px;
}

#btn-domains-whitelist-remove, #btn-domains-blacklist-remove {
  vertical-align: top;
}

/* Short URLs */
.auth-tick {
  float: right;
}

.auth-tick-hidden, #div-err-area-whitelist, #div-err-area-blacklist {
  display: none;
}

#lbl-oauth-bitly-token {
  font-style: italic;
}

#btn-oauth-googl {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_normal_web.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 191px;
  height: 46px;
  padding: 0;
  border: 0 none transparent;
  box-shadow: none;
  cursor: pointer;
}

#btn-oauth-googl:focus {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_focus_web.png');
}

#btn-oauth-googl:active {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_pressed_web.png');
}

#btn-oauth-googl:disabled {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_disabled_web.png');
  cursor: auto;
}
