fieldset { border: 1px solid #ccc; }
textarea { resize: vertical; }
#div-btn-group { margin-top: 1em; }
#restore-further-info { display: none; }
#del-all-further-info { display: none; }

#confirm {
  visibility: hidden;
  padding-top: 10px;
}

.div-table { display: table; }
.div-table-body { display: table-row-group; }
.div-table-row { display: table-row; }
.div-table-cell { display: table-cell; }

.desc { white-space: nowrap; }
.inline-block { display: inline-block; }
.right-align { text-align: right; }

.input-milliseconds { width: 5em; }

.link-demo-container {
  width: 100%;
}

.enabled { color: black; }
.disabled { color: lightgrey; }

/* Style tab */

.col-two {
  display: inline-block;
  vertical-align: top;
  margin-left: 3em;
}

#style-preview {
  border: 2px inset #ccc;
  margin-top: 1em;
  padding: 0 1em 1em;
}

#style-preview .cl-container {
  display: inline-block;
  position: relative;
  margin-top: 1em;
  width: auto;
  border: 1px solid #5f7f99;
  border-radius: 3px;
  opacity: 1;
}

#style-preview .cl-icon {
  display: inline-block;
}

#style-preview .cl-url {
  font-family: sans-serif;
  font-size: small;
}

#style-preview .js-icon-no-text {
  margin-right: -6px;
}

#theme-select { margin-left: 5px; }

/* Page Activation */

#form-activation-type > label > input {
  margin-bottom: 3px;
}

#form-allowlist, #form-denylist {
  margin-top: 1em;
}

#txt-domains-allowlist,
#txt-domains-denylist {
  box-sizing: border-box;
}

#list-domains-allowlist,
#list-domains-denylist,
#txt-domains-allowlist,
#txt-domains-denylist {
  width: 100%;
}

#list-domains-allowlist, #list-domains-denylist {
  background: white;
}

#btn-domains-allowlist-add, #btn-domains-allowlist-remove, #btn-domains-denylist-add, #btn-domains-denylist-remove {
  width: 10.5em;
  text-align: left;
}

#btn-domains-allowlist-add, #txt-domains-allowlist, #btn-domains-denylist-add, #txt-domains-denylist {
  margin-bottom: 5px;
}

#btn-domains-allowlist-add, #btn-domains-denylist-add {
  margin-left: 1px;
}

#btn-domains-allowlist-remove, #btn-domains-denylist-remove {
  vertical-align: top;
}

/* Short URLs */

.auth-tick {
  float: right;
  margin-left: .5em;
  height: 1em;
}

.hidden,
.auth-tick-hidden {
  display: none;
}

#lbl-oauth-bitly-token {
  font-style: italic;
}

#btn-oauth-googl {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_normal_web.png');
  background-repeat: no-repeat;
  background-color: transparent;
  width: 191px;
  height: 46px;
  padding: 0;
  border: 0 none transparent;
  box-shadow: none;
  cursor: pointer;
}

#btn-oauth-googl:focus {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_focus_web.png');
}

#btn-oauth-googl:active {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_pressed_web.png');
}

#btn-oauth-googl:disabled {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/btn_google_signin_dark_disabled_web.png');
  cursor: auto;
}

.btn-danger {
  cursor: pointer;
  border: 1px solid var(--btn-danger);
  border-radius: 8px;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0.7em 0.5em 0.5em;
  text-align: center;
  transition: 0.2s ease-in-out;
  vertical-align: middle;
  background-color: transparent;
  color: var(--btn-danger);
  border-color: var(--btn-danger);
  fill: var(--btn-danger);
}

.btn-danger > svg {
  height: 1.75em;
  width: 1.75em;
  vertical-align: middle;
}

.btn-danger:hover {
  background-color: var(--btn-danger);
  color: white;
  fill: white;
}

/*
 * Accordion UI
 */

.cl-accordion {
  user-select: none;
}

.cl-accordion > details {
  border-bottom: 1px solid lightgray;
  line-height: 1.15;
}

.cl-accordion > details > div {
  padding: .5em .5em 2em;
}

.cl-accordion summary {
  cursor: pointer;
  display: flex;
  list-style: none;
  padding: .5em;
}

.cl-accordion > details[open] summary {
  background: #e8e8e8;
}

.cl-accordion > details summary:hover,
.cl-accordion > details[open] summary:hover {
  background-color: whitesmoke;
}

.cl-accordion summary svg {
  fill: black;
  height: 1rem;
  margin-left: auto;
  transition: all 0.3s;
  width: 1rem;
}

.cl-accordion > details[open] summary svg {
  transform: rotate(-90deg);
  transition: 0.25s transform ease;
}

.cl-accordion :focus {
  outline: none;
}

/*
 * Vertical Tab UI
 * Credit: https://www.codehim.com/vanilla-javascript/vertical-tabs-using-javascript/
 */

:root {
  --white: #fff;
  --black: #000;
  --gray: #f3f3f3;
  --gray-mid: #9d9d9d;
  --gray-dark: #3e3e3e;
  --gray-hover: #f7f7f7;
  --body-background: grey;
  --btn-danger: crimson;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
}

.tabs-container {
  padding: 16px;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  display: flex;
  margin: 16px;
  border-radius: 16px;
  background-color: var(--white);
  box-shadow: rgba(100 100 111 0.2) 0 7px 29px 0;
}

header {
  position: relative;
}

.tab-content-wrapper {
  overflow: auto hidden;
  height: 500px;
  width: 200em;
  transition: all 0.45s ease-in-out;
  margin: 16px;
}

.tab-content h2 {
  color: var(--gray-dark);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 8px;
}

.tab-content {
  font-size: 0.8rem;
  min-height: 500px;
  min-width: 240px;
  overflow: auto;
  transition: all 0.45s ease-in-out;
}

.tab-content fieldset {
  padding: 16px;
  margin: 16px 0;
}

.tabs {
  position: relative;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f0f0f0;
  list-style-type: none;
  padding-left: 16px;
  padding-right: 40px;
  gap: 8px;
  width: 80em;
}

.tabs a {
  position: relative;
  display: flex;
  text-decoration: none;
  width: 100%;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--black);
  text-align: left;
  border-radius: 8px;
  justify-content: start;
  padding: 12px;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-in-out;
}

.tabs a img {
  height: 20px;
  width: 20px;
}

.tabs .active, .tabs a:hover {
  font-weight: 700;
  outline: none;
  color: white;
  background-color: var(--gray-dark);
}


.tabs a .tabs-icon {
  fill: var(--black);
}

.tabs .active .tabs-icon,
.tabs a:hover .tabs-icon {
  fill: var(--gray);
}

/* Alert popup */

#alert {
  max-width: 75%;
  border-radius: 2em;
  padding: 1.5em 2em;
  margin: 1em;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  transition: opacity 250ms;
  opacity: 0;
}

.alert-icon { fill: var(--white); }
.alert-info { background: #0676ed; }
.alert-success { background: #12c99b; }
.alert-warning { background: #f2a600; }
.alert-error { background: #e41749; }

#alert p {
  color: var(--white);
  margin: 0 0 0 1em;
  font-size: 1.5em;
}

/* Custom switches (Checkboxes) */

input[type='checkbox'] {
  display: inline-flex;
  align-items: center;
  appearance: none;
  position: relative;
  background: lightgrey;
  height: 1.2em;
  width: 2.3em;
  border-radius: 2em;
  vertical-align: middle;
  box-shadow: 0 1px 3px #0003 inset;
  transition: 0.15s linear background;
}

input[type='checkbox']::before {
  content: '';
  display: block;
  font-family: system-ui, sans-serif;
  font-weight: 900;
  width: 1.25em;
  height: 1.25em;
  border-radius: 1.25em;
  left: 0.2em;
  font-size: .7em;
  text-align: center;
  background: #fff;
  position: absolute;
  box-shadow: 0 1px 3px #0003;
  transition: 0.15s ease transform;
  transform: translateX(0);
}

input[type='checkbox']:checked {
  background: green;
}

input[type='checkbox']:checked::before {
  color: green;
  content: '\2713';
  transform: translateX(1.6em);
}

input[type='checkbox']:focus {
  outline-color: transparent;
}

input[type='checkbox']:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: 2px;
}

input[type='checkbox']:checked:disabled {
  background: #bbb;
}

input[type='checkbox']:checked:disabled::before {
  color: lightgrey;
}
