name: Monthly E2E Tests
on:
  workflow_dispatch:
  schedule:
    # Run every 1st day of the month, at 3:00-UTC
    - cron: "0 3 1 * *"
permissions:
  contents: read

jobs:
  e2e-tests:
    name: E2E Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Extract Playwright version
        id: playwright-version
        run: |
          PLAYWRIGHT_VERSION=$(npm ls @playwright/test | grep @playwright | sed 's/.*@//')
          echo "Playwright's Version: $PLAYWRIGHT_VERSION"
          echo "PLAYWRIGHT_VERSION=$PLAYWRIGHT_VERSION" >> $GITHUB_ENV
      - name: Cache Playwright browsers
        id: cache-playwright-browsers
        uses: actions/cache@v5
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-browsers-${{ steps.playwright-version.outputs.PLAYWRIGHT_VERSION }}
      - name: Install latest Playwright Browsers
        if: steps.cache-playwright-browsers.outputs.cache-hit != 'true'
        run: npm run test:e2e:prepare
      - name: Build (allowing install for E2E browser tests)
        run: make
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v6
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: docs/test-results/e2e/playwright-report/
          retention-days: 30
      - name: Add markdown E2E coverage report to job summary
        run: |
          cat docs/test-results/e2e/monocart-report/coverage/coverage-summary.md >> $GITHUB_STEP_SUMMARY
          cat docs/test-results/e2e/monocart-report/coverage/coverage-details.md >> $GITHUB_STEP_SUMMARY
